body {
  font-family: 'Questrial',sans-serif;

}
h1,h2,h3,h4,h5,h6{
font-family: 'Alfa Slab One',cursive;
}
h1 {
color:#ff00af
}
.carousel {
width: 100%;
padding: 5%
} 

.slide-box {
display: flex;
justify-content: space-between;
}
.menu-principal .nav {
background-color: #fddd00;
font-size: 1.25rem;
}
.menu-principal .nav button,
.menu-principal .nav a {
font-family: 'Alfa Slab One', cursive;
letter-spacing: 1px;
color: white;
}
.tns-outer .tns-controls {
position: absolute;
top: calc(50% - 27px);
z-index: 2;
height: 0;
display: flex;
width: calc(100% - 30px);
box-sizing: border-box;
flex-flow: row;
justify-content: space-between;
}
.tns-outer .tns-controls button {
font-size: 2.5rem;
line-height: 140%;
width: 50px;
height: 50px;
box-sizing: content-box;
padding: 0;
border-radius: 50%;
background-color: #ff00af;
color: white;
border: 2px solid white;
box-shadow: 1px 1px 5px #333;
display: flex;
justify-content: center;
position: relative;
}
.tns-outer .tns-controls button:disabled {
background-color: #666;
opacity:.2;
}
.tns-outer .tns-controls button[data-controls="prev"]{
  right: 10px;
}
.tns-outer .tns-controls button[data-controls="next"]{
  left: 10px;
}
.tns-slider .tns-item {
  text-align: center;
}
@media (min-width: 576px) and (max-width: 767.98px) {
.slide-box img {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
.Cuadrado {
  width: 80px;
  height: 110px;
}
.box {
  width: 80px;
  height: 110px;
  position: relative;
  display: inline-block;
  padding: 5px;
  line-height: 20px;
}
h6, p {
  font-size: 9px
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
.slide-box img {
  -ms-flex: 0 0 33.3333%;
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
}
.Cuadrado {
  width: 110px;
  height: 140px;
}
.box {
  width: 110px;
  height: 140px;
  position: relative;
  display: inline-block;
  padding: 5px;
  line-height: 20px;
}
h6, p {
  font-size: 10px
  }
}

@media (min-width: 992px)
{
.slide-box img {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}
.Cuadrado {
  width: 140px;
  height: 170px;
}
.box {
  width: 140px;
  height: 170px;
  position: relative;
  display: inline-block;
  padding: 5px;
  line-height: 20px;
}
h6, p {
  font-size: 11px
  }
}
@media (min-width:768px){
.menu-principal .form-inline {
  background-color: #fddd00;
}

}
@media (max-width:1024px) {
.slide-box img {
  width: 100%;
  height: auto;
}
h6, p {
  font-size: 16px
  }
}
@media (max-width:570px){
  .Cuadrado {
    width: 50px;
    height: 80px;
  }
  .box {
    width: 50px;
    height: 80px;
    position: relative;
    display: inline-block;
    padding: 5px;
    line-height: 20px;
  }
  h6, p {
    font-size: 9px
    }
}
.row .col-12 h2 {
  margin-top: 1rem;
}
.carousel-caption {
background-color: rgba(0, 0, 0, 0.5);
padding: 20px;
border-radius: .5rem;
}
.Rectangle {
  background-color: #ffdb15;
}
.Ellipse {
  width: 107.5px;
  height: 105px;
}
.Rectangle-2, .Rectangle-5 {
  background-color: #14c8cc;
}
.Rectangle-3 {
  background-color: #b21280;
}
.Rectangle-4, .Footer{
  background-color: #f2c94c;
}

a:not([href]):not([tabindex]) {
 color: white;
 text-decoration: none;
}


img {
  width: 100%;
  height: auto;
}
/*nuevo bloque para mac*/


.box-in {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all .5s;
}

.box-front {
  background-color: transparent;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.box-back {
  background-color: #F5F5F5;
  -ms-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  z-index: 1;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  line-height: 30px;
}

.box:hover .box-front {
  -ms-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.box:hover .box-back {
  -ms-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
}